<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <version>1.2.0</version>
  <PathToScriptsFolder>E:\osm</PathToScriptsFolder>
  <PathToWorldPainterFolder>C:\Program Files\WorldPainter\wpscript.exe</PathToWorldPainterFolder>
  <PathToQGIS>C:\Program Files\QGIS 3.16</PathToQGIS>
  <PathToMagick>C:\Program Files\ImageMagick-7.0.11-Q16-HDRI\magick.exe</PathToMagick>
  <PathToPBF />
  <PathToExport>C:\Users\matze\Desktop</PathToExport>
  <WorldName>earth_1-18000_osm-based_with-features_1-17-1</WorldName>
  <BlocksPerTile>512</BlocksPerTile>
  <TilesPerMap>90</TilesPerMap>
  <VerticalScale>200</VerticalScale>
  <Terrain>Standard</Terrain>
  <Heightmap_Error_Correction>true</Heightmap_Error_Correction>
  <bordersBoolean>true</bordersBoolean>
  <borders>2020</borders>
  <geofabrik>true</geofabrik>
  <bathymetry>true</bathymetry>
  <TerrainSource>Arcgis</TerrainSource>
  <highways>false</highways>
  <streets>false</streets>
  <small_streets>false</small_streets>
  <buildings>false</buildings>
  <ores>true</ores>
  <netherite>true</netherite>
  <farms>false</farms>
  <meadows>false</meadows>
  <quarrys>false</quarrys>
  <forests>false</forests>
  <aerodrome>true</aerodrome>
  <mobSpawner>true</mobSpawner>
  <animalSpawner>true</animalSpawner>
  <riversBoolean>true</riversBoolean>
  <rivers>major</rivers>
  <streams>false</streams>
  <volcanos>true</volcanos>
  <shrubs>true</shrubs>
  <crops>true</crops>
  <MapVersion>1.17</MapVersion>
  <Proxy />
  <keepPbfFile>true</keepPbfFile>
  <reUsePbfFile>true</reUsePbfFile>
  <keepOsmFiles>true</keepOsmFiles>
  <reUseOsmFiles>true</reUseOsmFiles>
  <keepImageFiles>false</keepImageFiles>
  <reUseImageFiles>false</reUseImageFiles>
  <keepWorldPainterFiles>false</keepWorldPainterFiles>
  <NumberOfCores>4</NumberOfCores>
  <ParallelWorldPainterGenerations>true</ParallelWorldPainterGenerations>
  <cmdVisibility>false</cmdVisibility>
  <continueGeneration>true</continueGeneration>
  <mapOffset>0</mapOffset>
  <vanillaGeneration>Off</vanillaGeneration>
</Settings>